.chat-container {
    width: 100%;
    max-width: 480px;
    height: 90vh;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background: #ece5dd;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.header {
    background: #ab1dc4;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 12px;
    background: #ece5dd;
}

.bubble {
    max-width: 75%;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    text-align: left;
}

.bot {
    background: white;
    align-self: flex-start;
    border: 1px solid #ddd;
}

.user {
    background: #c47fd1;
    align-self: flex-end;
}

.input-area {
    display: flex;
    padding: 10px;
    background: white;
    border-top: 1px solid #ccc;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #bbb;
}

.send-btn {
    background: #ab1dc4;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
