.cg-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f7;
}


.cg-chat-card {
  width: 420px;
  height: 80vh;
  background: #e5ddd5;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cg-header {
  background: #a020f0;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
}

.cg-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cg-bubble {
  max-width: 80%;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  text-align: left;
}

.cg-bubble.bot {
  align-self: flex-start;
  background: #ffffff;
  border-bottom-left-radius: 0;
}

.cg-bubble.user {
  align-self: flex-end;
  background: #d2f8d2;
  border-bottom-right-radius: 0;
}

.cg-input-row {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f2f2f2;
}

/* .cg-upload-btn{
  width: 36px;
  height: 36px;
  background: #ffffff;
  border:1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px;
  margin-left:5px;
  padding-bottom: 3px;
}

.cg-upload-btn input{
  display: none;
} */

.cg-input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.cg-send-btn {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #a020f0;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cg-upload-btn {
 cursor: pointer;
 display: flex;
 align-items: center;
 color: #6a1b9a;
 margin-right: 1px;
}
.cg-upload-btn:hover {
 transform: scale(1.1);
}